.vehiculContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f0f0f0;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/back.png');
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
  animation: scrollBackground 0.5s linear infinite;
}

.back.stopped {
  animation-play-state: paused;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}  


.vehicule {
  position: relative;
  bottom: -150px;
  z-index: 2;
  transition: transform 0.5s ease-out; 
}

.vehicule.stopped {
  animation: none; 
}

.vehicule.stopped .roue {
  animation: none; 
}

.vehiculeBody {
  width: 36%;
  z-index: 1;
}

.roueContainer {
  position: absolute;
}

.roueAvant {
  bottom: 33px;
  left: 60px;
}

.roueArriere {
  bottom: 33px;
  right: 846px;
}

.roue {
  width: 70px;
  height: 70px;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 0.1s linear infinite;
}
.barre{
  position: absolute;
  TOP: 40px;
  right: 46px;
  width: 17px;
  height: 395px;
  background-color: rgb(24, 24, 23);
}
.trafficLightContainer {
  position: absolute;
  top: 50%; 
  right: 35%; 
  transform: translateY(-50%);
  z-index: 9999;
  transition: right 1s ease-out; 
}

.trafficLightContainer.moving {
  animation: moveTrafficLight 15s linear infinite;
}

.trafficLightContainer.stopped {
  right: 0;
  animation-play-state: paused;
  transition: right 0.5s ease;
}

@keyframes moveTrafficLight {
  from {
    right: 0px;
  }
  to {
    right: 250%;
  }
}

.trafficLight {
  position: relative; 
  width: 150px; 
  height: auto; 
  top: 30px;
  left: 0px;
  z-index:1111199990 ;
}

.trafficLightImage {
  display: block;
  width: 100%;
  height: auto;
}

.light {
  position: absolute; 
  width: 33px; 
  height: 40px;
  border-radius: 50%;
  background: gray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease-in-out;
}

.light.vert {
  top: 36px; 
  left: 35%; 
  transform: translateX(-50%); 
}

.light.orange {
  top: 95px; 
  left: 35%;
  transform: translateX(-50%);
}

.light.rouge {
  top: 151px; 
  left: 35%;
  transform: translateX(-50%);
}

.light.active.vert {
  background: green;
}

.light.active.orange {
  background: orange;
}

.light.active.rouge {
  background: red;
}

.vehicule.stopped .roue {
  animation: none; 
}

.vehicule.stopped ~ .back {
  animation-play-state: paused; 
}

.rotation {
  animation: rotation 0.5s linear infinite;
}

.back {
  animation: scrollBackground 0.5s linear infinite;
}

.vehiculeBody {
  transition: transform 0.5s ease-in-out; 
}
h3{
  position: absolute;
  top: 10px;
  left: 20px;
  font-family:monospace;
  font-size: 20px;
  z-index: 1234567890;
}